body{
    background-image: url("img/5.jpg");
    background-repeat: repeat-x;
    background-position: center top;
    background-attachment: fixed;
}

.wrapper{
	width: 100%;
}

.title{
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;

}

.logo{
	position: absolute;
	right: 470px;
	top: -10px;
}

.contact{
	position: absolute;
	right: 70px;
	top: 20px;
}


ul {
	font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #323639;
    position: -webkit-sticky;
  	position: sticky;
  	top: -1px;
  	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	z-index: 2;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li img {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.swiper-container {
	width: 100%;
	height: 400px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-pagination-bullet-active
{
	background: #fff;
}

.shopcart{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-left: 8px;
    text-decoration: none;
    float: right;
}

.sitebody{
	width: 1020px;
	margin: 0 auto;
	-webkit-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.91);
	-moz-box-shadow:    1px 1px 19px 0px rgba(0, 0, 0, 0.91);
	box-shadow:         1px 1px 19px 0px rgba(0, 0, 0, 0.91);

}

.sitebody2{
	background-color: none;
	width: 1020px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}

.inactivecontent1{
	padding: 10px;
	text-align: center;
	border-top: 10px solid #323639;
	padding-top: 0px;
	background-color: white;
}

.inactivecontent2{
	height: 450px;
	border-top: 10px solid #323639;
	position: relative;
	text-align:center;
	color: white; 
}

.inactivecontent3{
	height: 450px;
	background-color: white;
	border-top: 10px solid #323639;
	text-align:center;
}

.quotesign{
	position: absolute;
	left: 50px;
	top: 115px;
}

.quoteby{
	position: absolute;
	top: 210px;
	left: 370px;
	font-family: monospace;
}

.quotetext{
	position: absolute;
	left: 70px;
	top: 100px;
	font-size: 36px;
	font-style: italic;
}

.chef2{
	position: absolute;
	bottom: 0px;
	right: 50px;
}

.button1{
	text-decoration: none;
	color: 323639;
	padding: 10px;
	font-size: 15px;
	border: 2px solid #323639;
	display: inline-block;
	font-weight: bold;
	width: 200px;
}

.button1:hover{
	color: white;
	background-color: #323639;
}

h2{
	margin: 0px;
	color: white;
	background-color: #323639;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.titletext{
	font-size: 50px;
	color: #323639;
	font-family: Impact, "sans serif";
	margin: 5px;
	margin-top: 15px;
}

.content{
	width: 600px;
	margin: 0 auto;
}
.table{
	width: 600px;
	height: 400px;
	background-image: url("img/table.jpg");
	position: relative;
}

.options{
	width: 600px;
	height: 200px;
	margin: 0 auto;
}

.icondiv{
	float: left;
	width: 100px;
}

.icondiv img{
	display:block;
    margin:auto;
    opacity: 0.5;
}

.ketchup{
	position: absolute;
	top: 85px;
	left: 35px;
	z-index: 1;
	visibility: hidden;
}

.cheese{
	position: absolute;
	top: 110px;
	left: 80px;
	z-index: 2;
	visibility: hidden;
}

.pepperoni{
	position: absolute;
	top: 100px;
	left: 65px;
	z-index: 3;
	visibility: hidden;
}

.mushroom{
	position: absolute;
	top: 90px;
	left: 75px;
	z-index: 4;
	visibility: hidden;
}

.onion{
	position: absolute;
	top: 110px;
	left: 95px;
	z-index: 5;
	visibility: hidden;
}

.oregano{
	position: absolute;
	top: 65px;
	left: 75px;
	z-index: 6;
	visibility: hidden;
}

.undobtn{
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.advise{
	text-align: center;
}

.centering{
	text-align: center;
}

.tablecenter{
	margin: 0 auto;
}

.footer{
	margin: 5px;
	color: white;
	text-align: center;
	font-size: 11px;
	
}