body{
	background-image: url("img/bg.png");
}

.wrapper{
	width: 100%;
}

.title{
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;

}

.logo{
	position: absolute;
	right: 470px;
	top: -10px;
}

.contact{
	position: absolute;
	right: 70px;
	top: 20px;
}


.sitebody{
	background-color: white;
	width: 1000px;
	margin: 0 auto;
	border: solid 3px #E5162D;
	border-radius: 10px;
	padding: 10px;
	font-family: 'Lato', sans-serif;
}

.inactivecontent{
	text-align: center;
}

.content{
	width: 600px;
	margin: 0 auto;
}
.table{
	width: 600px;
	height: 400px;
	background-image: url("img/table.jpg");
	position: relative;
}

.options{
	width: 600px;
	height: 200px;
	margin: 0 auto;
}

.icondiv{
	float: left;
	width: 100px;
}

.icondiv img{
	display:block;
    margin:auto;
    opacity: 0.5;
}

.ketchup{
	position: absolute;
	top: 85px;
	left: 35px;
	z-index: 1;
	visibility: hidden;
}

.cheese{
	position: absolute;
	top: 110px;
	left: 80px;
	z-index: 2;
	visibility: hidden;
}

.pepperoni{
	position: absolute;
	top: 100px;
	left: 65px;
	z-index: 3;
	visibility: hidden;
}

.mushroom{
	position: absolute;
	top: 90px;
	left: 75px;
	z-index: 4;
	visibility: hidden;
}

.onion{
	position: absolute;
	top: 110px;
	left: 95px;
	z-index: 5;
	visibility: hidden;
}

.oregano{
	position: absolute;
	top: 65px;
	left: 75px;
	z-index: 6;
	visibility: hidden;
}

.undobtn{
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.advise{
	text-align: center;
}

.centering{
	text-align: center;
}

.tablecenter{
	margin: 0 auto;
}

.footer{
	margin: 5px;
	color: white;
	text-align: center;
	font-size: 11px;
	
}